body {
  margin: 10px;
  background-color: black;
  color: white;
  font-family: lucida_consoleregular;
  /* overflow: hidden; Hide scrollbars */
}

container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@font-face {
  font-family: "lucida_consoleregular";
  src: url("../font/lucida.ttf") format("ttf"),
    url("../font/lucida-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: white;
}

.notice {
  margin: auto;
  width: 170px;
  /* color: red; */
  border-color: blue;
  border-style: solid;
  border-radius: 3px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
